requirements: 
Users : 1-Developers
        2-Admins
        
Admin roles : 1-Over taking the project
              2-requirements and specifications analysis
              3-project time and cost estimation
              4-Dividing the project into modules and phases.
              
  Team members Duties: : 1-  Contributing to overall project objectives 
                         2- Completing individual tasks assigned
                         3- Documenting the process
                         4- Completing their tasks on time.
